<!DOCTYPE html>
<html lang="en">
<head>
    <title>Select Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <script src="{{ url_for('static', filename='js/selection.js') }}"></script>
</head>

<body>

  <h1>Select Product Type</h1>

  <select id="productTypeSelect">
    <option value="">-- Select Type --</option>
    <option value="{{ url_for('blankets') }}">Blanket</option>
    <option value="{{ url_for('mpack') }}">Underpacking</option>
  </select>

</body>
</html>
